
.gamefield {
  background-color: black;
  width: 500px;
  height: 550px;
  margin: auto;
  color: azure;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
.hidden {
  display:none;
}
