.menuscreen {
    text-align: center;
    font-size: 100%;
    margin-top: 50px;
    height: 87%;
}

input {
    height:2%
}

.bottom {
    margin-top: 57%;
}

.header {
    margin-bottom: 55%;
    cursor: pointer;
    text-transform: uppercase;
}

.testitem {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.listitem {
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    cursor: pointer;
}

.options.bg {
    width: 50%;
    height: 95%;
}

.control.bg {
    width: 95%;
    height: 55%;
}
.bg {
    margin: auto;
    background: rgb(34, 26, 68);
    border-radius: 15px;
    padding-top: 1%;
}

.choice {
    margin: auto;
    height:50%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.active{
    background: rgb(221, 206, 70);
    border-radius: 5px;
}
.item {
    width: 33%
}

.blink {
    animation: blinker 0.5s infinite;
    font-size: larger;
    color: rgb(34, 173, 34);
}

@keyframes blinker {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.25;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}