
.menuscreen {
    animation: blinker 0.5s infinite;
    text-align: center;
    font-size: 100%;
    margin-top: 100px;
}


@keyframes blinker {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.25;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
