.stars .red {
    width: 2px;
    height: 2px;
    position: absolute;
    background-color: red;
}

.stars .white {
    width: 2px;
    height: 2px;
    position: absolute;
    background-color: white;
}

.stars {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}