
.stars .red {
    width:2px;
     height:2px;
     position: absolute;
     background-color: red; 
}
.stars .white {
    width:2px;
     height:2px;
     position: absolute;
     background-color:white;
}
