@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.field {
  width: 500px;
  height: 550px;
}
#root {
  min-height: 100vh;
}
.test {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}